@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfbfe;
  --foreground: #171717;
  --primary: #b09054;
  --secondary: #b4a897;
  --accent: #3ca68d;
}

body {
  color: var(--foreground);
  background: var(--background);
}
