@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

:root {
  --background: #fbfbfe;
  --foreground: #171717;
  --primary: #b09054;
  --secondary: #b4a897;
  --accent: #3ca68d;
}

body {
  color: var(--foreground);
  background: var(--background);
}
