@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

:root {
  --background: 251 251 254; /* #fbfbfe */
  --foreground: 23 23 23; /* #171717 */
  --primary: 176 144 84; /* #b09054 */
  --secondary: 180 168 151; /* #b4a897 */
  --accent: 60 166 141; /* #3ca68d */
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
